.archives-add-electronic-container {
	.mb20 {
		margin-bottom: 0px !important;
	}

	::v-deep() {
		.el-checkbox-group {
			.el-checkbox {
				padding: 0 12px;
				border: 1px dotted var(--el-border-color-light);
				margin-right: 15px;
				margin-bottom: 15px;

				&:hover {
					border-color: var(--el-color-primary);
				}
			}
		}
	}
}
.export-footer{
	display: flex;
	justify-content: space-between;
}