
.edit-staff-page {
	position: relative;
	box-sizing: border-box;
	height: calc(100vh - 64px - 34px);

	.sociallist {
		display: flex;
		align-items: center;
		span {
			width: 70px;
			height: 30px;
			border-radius: 2px;
			line-height: 30px;
			text-align: center;
			margin-right: 5px;
		}
		.succee {
			background-color: rgba(88, 189, 125, 0.07);
			color: #58bd7d;
		}
		.fail {
			background-color: rgba(232, 78, 78, 0.07);
			color: #e84e4e;
		}
		.wait {
			background-color: rgba(51, 51, 51, 0.07);
			color: #333;
		}
	}

	.title {
		background: var(--hor-color-background-gray);
		padding: 10px 16px;
		line-height: 16px;
		font-weight: 600;

		span {
			margin-left: 12px;
		}
		&::before {
			display: inline-block;
			vertical-align: top;
			content: '';
			height: 16px;
			width: 6px;
			background: var(--el-color-primary);
		}
	}
	.content {
		background: var(--hro-color-white);
		padding: 20px 24px 40px;
		margin: 8px 12px;
		height: calc(100% - 64px - 12px - 12px);
		overflow-y: auto;
	}
	::v-deep(.el-tabs__item.is-active) {
		font-weight: 600 !important;
		border-bottom: 2px solid #fff;
	}
}
.operation-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 68px;
	background: var(--hro-color-white);
	text-align: right;
	padding: 12px 48px;

	::v-deep(.el-button) {
		min-width: 64px !important;
		height: 40px !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		line-height: 40px;
	}
}