.el-table {
    .arch-pro-table-header-cell {
        // 表头
        background: #f5f7fa !important;
        // border-radius: 3px 3px 0px 0px;
        font-weight: 400;
        color: #707881;
        height: 46px;
        line-height: 14px;
        font-size: 14px;
    }
}